
<div class="ui comments">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/steve.jpg">
    </a>
    <div class="content">
      <a class="author">Steve Jobes</a>
      <div class="metadata">
        <div class="date">2 days ago</div>
      </div>
      <div class="text">
        <%= @comment.text %>
      </div>
      <div class="actions">
        <a class="reply active">Reply</a>
      </div>
      <form class="ui reply form">
        <%= form_for [@post, @comment] do |f| %>
        <div class="field">
            <%= f.text_area :text, placeholder: "Compose new comment..." %>
        </div>
        <div class="ui primary submit labeled icon button">
          <i class="icon edit">  <%= f.submit %></i> Add Reply
        </div>

        <% end %>
      </form>
    </div>
  </div>
</div>
