<h1>Users Index</h1>

<p>Number of Users: <%= @users.count %></p>

<% @users.each do |u| %>
<div class="ui items index">

  <div class="item">
    <div class="image">
      <% if u.image.attached? %>
      <img src="<%= url_for u.image %>">
      <% else %>
      <img src="empty.png">
      <% end %>
    </div>
    <div class="content">
      <a class="header"><%= link_to "#{u.name}", user_path(u) %></a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p><%= u.name %></p>
    </div>
  </div>
</div>
<hr>
  <% end %>
