<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <%= render 'shared/navbar', class: "sidebar icon" %>
        <div class="right item">
          <%= link_to "Login here", login_path, class: "ui inverted button" %>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Tune In
      </h1>
      <h2>Welcome to Tune-In</h2>
      <%= link_to "Sign up now!", signup_path, class: "ui huge primary button" %>
    </div>

  </div>
