<%= render 'shared/navbar' %>
<h1>"<em>bla bla..</em> pithy catchphrase" &trade;</h1>
<p>Lorem ipsum …</p>
<h1>Welcome to Some Muzic Site</h1>

<h2>
  whatup
</h2>
<br>
<div>
  <%= link_to "Registered User? Login here", login_path, class: "btn btn-lg btn-primary" %></div>
<br><br>
<div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
<br>
<div align="center">
  <%= image_tag("teddybear.jpg") %>
<br>
  placeholder
</div>




<br><br><br>
