<div class="ui inverted vertical masthead center aligned segment" id= "homepage">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Tune In
      </h1>
      <h2>Welcome to Tune-In</h2>
      <%= link_to "Sign up now!", signup_path, class: "ui huge primary button" %>
    </div>
</div>
