<%= render 'carousel' %>
<%= render 'shared/footer' %>
<!--
<div id="index">


    <div align='center' class="ui text container abril">

<div class="abril ui inverted vertical masthead center aligned segment" id= "homepage">
    <div class="ui text container abril">

      <div class="ui inverted header"><h1 class="abril">Welcome to Tune-In</h1>


    <%= render 'carousel' %>

      <%= link_to "Sign up now!", signup_path, class: "ui huge primary button" %>


</div>
    </div>
    
</div>
</div>
</div> -->