
// @import "bootstrap-sprockets";
// @import "bootstrap";

body {
  font-family: 'Verdana', sans-serif;
    margin: 0 auto;
}

#post-image {
  height: 60px;
  width: 60px;
  margin-left: 45px;
  margin-top: 50px;
}

#profilepic {
  height: 30px;
  width: 30px;
}

body > .grid {
  height: 100%;
}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}

#login-box {
  top: -50px;
}
#profilepage {

}

.wrapper {
    width: 1500px;
}
