
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Verdana', sans-serif;
}


#post-image {
  height: 60px;
  width: 60px;
  margin-left: 45px;
  margin-top: 50px;
}

#profilepic {
  height: 30px;
  width: 30px;


}
